{%load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block meta_tags %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Mike Yates">{% endblock %}
    <title>{% block title %}CCT Music{% endblock%}</title>
    {% block stylesheets %}
    <link rel="shortcut icon" href="{% static "home/assets/images/favicon.ico" %}">
    <link rel="stylesheet" href="{% static "home/assets/plugins/bootstrap/css/bootstrap.min.css" %}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="{% static "home/assets/css/icon_styles.css" %}">
    <link id="theme-style" rel="stylesheet" href="{% static "home/assets/css/styles.css" %}"> {% endblock %} {% block javascript %}
    <script type="text/javascript" src="{% static "home/assets/plugins/jquery-1.11.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/assets/plugins/jquery-migrate-1.2.1.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/assets/plugins/jquery.easing.1.3.js" %}"></script>
    <script type="text/javascript" src="{% static "home/assets/plugins/bootstrap/js/bootstrap.min.js" %}"></script>
    <script type="text/javascript" src="{% static "home/assets/js/main.js" %}"></script>
    {% endblock %}
</head>

<body style="padding-top:64px">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
        <div class="navbar-header">
            <div class="btn-group pull-right">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#links">
                    <i class="material-icons md-light">menu</i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <i class="material-icons md-light">search</i>
                </button>
            </div>
            <a class="navbar-brand" href="{% url "index" %}">CCT Music</a>
        </div>
        <ul class="collapse navbar-collapse nav navbar-nav no-gutter no-margin" id="links">
            <li class="{% block home_menu %}{% endblock %}"><a href="{% url "index" %}">Home</a></li>
            <li class="{% block location_menu %}{% endblock %}"><a href="{% url "location" %}">Locations</a></li>
            {% if user.userprofile.host == True %}<li class="{% block host_menu %}{% endblock %}"><a href="{% url "admin" %}">Admin</a></li>{% endif %}
            {% if user.is_authenticated %}
                <li class="{% block profile_menu %}{% endblock %}"><a href="{% url "profile" %}">{{user.first_name}} {{user.last_name}}</a>
            {% else %}
                <li class="{% block login_menu %}{% endblock %}"><a href="{% url "login" %}">Log In</a></li>
            {% endif %}
        </ul>
        <div class="collapse navbar-collapse text-center" id="search">
            <form id="searchform" class="navbar-form navbar-right" role="search" action="{% url "search" %}" method="GET">
                <div class="form-group">
                    {{search_form}}
                </div>
                <button type="submit" class="btn btn-default"><i class="icon-search"></i> Search</button>
            </form>
        </div>
        </div>
    </nav>
    <div class="container-fluid no-gutter"id="main" role="main">
        {% block content %} {% endblock %}
    </div>
</body>

</html>
