{%extends "home/__base.html" %} 
{% block title %} Admin | {{block.super}} {% endblock %}
{% block host_menu %} active {% endblock %}
{% block content %}
<div class="col-xs-12 col-md-4 half-gutter">
    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
        	<form method="POST" action="{% url "export_email" %}">
        		{% csrf_token %}
            	<button type="submit" class="btn btn-info btn-block">Export (Email)</button>
        	</form>
            <!-- <button class="btn btn-warning btn-block">Export (Spotify)</button> -->
        </div>
    </div>
</div>
{% endblock %}
