{%extends "home/__base.html" %} 
{% block title %} Index | {{block.super}} {% endblock %} 
{% block home_menu %} active {% endblock %} 
{% block content %}
    <div class="col-xs-12 col-md-4 half-gutter">
        <a data-toggle="collapse" data-target="#recent-list"><h5>Recently Requested<i class="pull-right material-icons md-24">expand_more</i></h5></a>
        <div class="col-xs-12">
    		<div class="row">
        		<div class="list-group collapse" id="recent-list">
	        		{% for item in requested %}
	        			{% include "home/songlist.html" %} 
	        		{% endfor %}
		        </div>
		    </div>
		</div>
    </div>
{% endblock %}
