{%extends "home/__base.html" %} {% block title %} {{location.name}} | {{block.super}} {% endblock %} {% block location_menu %} active {% endblock %} {% block content %}
<div class="col-xs-12 col-md-4 half-gutter">
    <a data-toggle="collapse" data-target="#recent-list"><h5>Requested<i class="pull-right material-icons md-24">expand_more</i></h5></a>
    <div class="col-xs-12">
        <div class="row">
            <div class="list-group collapse" id="recent-list">
                {% for item in recent %}
                	{% include "home/songlist.html" %}
                {%endfor%}
            </div>
        </div>
    </div>
    <a data-toggle="collapse" data-target="#archive-list"><h5>Archive<i class="pull-right material-icons md-24">expand_more</i></h5></a>
    <div class="col-xs-12">
        <div class="row">
            <div class="list-group collapse" id="archive-list">
                {% for item in archive %}
                	{% include "home/songlist.html" %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock%}
