{%extends "home/__base.html" %}
{% block title %} Login | {{block.super}} {% endblock %}
{% block login_menu %} active {% endblock %}
{% block content %} 
	<form action="{% url "login" %}" method="POST">
		{% csrf_token %}
		<input id="username" type="text" name="username" placeholder="Username" size="50"/><br/>
		<input id="password" type="password" name="password" placeholder="Password" size="50"/><br/>
		<button id="loginsubmit" class="btn btn-primary" type="submit">Submit</button>
	</form>
	<a class="btn btn-warning" href="{% url "register" %}">Sign Up</a>
{% endblock%}