{%extends "home/__base.html" %}
{% block title %} {{user.first_name}} {{user.last_name}} | {{block.super}} {% endblock %}
{% block profile_menu %} active {% endblock %}
{% block content %} 
<div class="col-xs-12">
	<h4>{{user.first_name}} {{user.last_name}}</h4>
	<form class="form-group"action="{% url "profile" %}" method="POST">
		{% csrf_token %}
		{{profile_form.as_p}}
		<button type="submit" class="btn btn-default">Update</button>
	</form>
	<a href="{% url "logout" %}" class="btn btn-danger">Logout</a>
{% endblock%}