{%extends "home/__base.html" %} 
{% block title %} Register | {{block.super}} {% endblock %}
{% block content %}
<div class="col-xs-12">
	{% if registered %}
		<h4>Sign up successful!</h4>
		<a href="{% url "index" %}" type="button" class="btn btn-primary">OK</a>
	{% else %}
		<h4>Sign up</h4>
		<form id="user_form" method="post" action="{% url "register" %}">
			{% csrf_token %}
			{{user_form.as_p}}
			{{profile_form.as_p}}
			<button type="submit" class="btn btn-success"><i class="material-icons">done</i></button>
		</form>
	{% endif %}
</div>
{% endblock %}
