{% extends "home/__base.html" %} 
{% block title %} Search | {{block.super}} {% endblock %} 
{% block content %}
<div class="col-xs-12 col-md-4">
    <div class="row">
        <div class="list-group">
            {% for track in tracks.items %}
                <button class="list-group-item half-gutter" type="button" data-toggle="collapse" data-target="#collapse_add{{forloop.counter}}">
                    <div class="col-xs-2 no-gutter">
                        <img class="img-responsive img-rounded" src="{{track.album.images.2.url}}">
                    </div>
                    <div class="col-xs-10 half-gutter">
                        <div class="list-group-item-heading h5 text-nowrap text-nowrap-overflow">{{track.name}}</div>
                        <div class="col-xs-5 no-gutter"><div class="list-group-item-text">{% for artist in track.artists %}{%if forloop.first %}{{artist.name}}{%else%} - {{artist.name}}{%endif%}{% endfor %}</div></div>
                    </div>
                </button>
                <div id="collapse_add{{forloop.counter}}" class="collapse">
                    <button class="btn btn-success btn-lg btn-block" data-toggle="modal" data-target="#confirmModal{{forloop.counter}}"><i class="icon-plus"></i></button>
                </div>
                {# Confirmation Modal #}
                <div id="confirmModal{{forloop.counter}}" class="modal fade" role="confirm dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 class="modal-title">Confirm</h4>
                            </div>
                            <div class="modal-body">
                                <p>Request <b>{{track.name}}</b> by {{track.artists.0.name}} at {{user.userprofile.location.name}}?</p>
                            </div>
                            <div class="modal-footer">
                                <div class="col-xs-12">
                                    <div class="col-xs-6">
                                        <button type="button" class="btn btn-danger btn-lg btn-block" data-dismiss="modal"><i class="material-icons">clear</i></button>
                                    </div>
                                    <div class="col-xs-6">
                                    	<form id="request-form" action="{% url "request" %}" method="POST">
                                            {% csrf_token %}
                                    		<input type="hidden" name="track_title" value="{{track.name}}">
                                    		<input type="hidden" name="track_spotify_id" value="{{track.id}}">
                                    		<input type="hidden" name="album_art" value="{{track.album.images.2.url}}">
                                    		<input type="hidden" name="artist_name" value="{{track.artists.0.name}}">
                                        	<button type="submit" class="btn btn-success btn-lg btn-block"><i class="material-icons">done</i></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock%}
